schemas/FileSystem.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema xmlns="http://www.XmlCommandLine.org/FileSystem/1.0" elementFormDefault="qualified" targetNamespace="http://www.XmlCommandLine.org/FileSystem/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation xml:lang="en">Written by Jay Sprenkle</xs:documentation>
    </xs:annotation>
    
    <xs:complexType name="FileType" mixed="true">
        <xs:annotation>
            <xs:appinfo>
                <fieldInfo notes="Description of a file in a file system" />
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Path" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Path to the File" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Owner" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Owner of the File as a human readable string" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GroupOwner" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Group Owner of the File as a human readable string" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Permissions" type="xs:hexBinary" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Permissions of the File in hex binary" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Created" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                <xs:element name="LastRead" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                <xs:element name="LastChanged" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                <xs:element name="Size" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="DirectoryType" mixed="false">
        <xs:annotation>
            <xs:appinfo>
                <fieldInfo notes="Description of a directory in a file system" />
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <!--  Permit any of these tags in any order in any number     -->
            <xs:choice minOccurs="0" maxOccurs="unbounded">

                <xs:element name="Link" type="LinkType" minOccurs="0" maxOccurs="1" />
                <xs:element name="Path" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Path to the directory" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Owner" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Owner of the Directory as a human readable string" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GroupOwner" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Group Owner of the Directory as a human readable string" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Permissions" type="xs:hexBinary" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Permissions of the Directory in hex binary" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            
                <xs:element name="Content" type="ContentType" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="LinkType" mixed="false">
        <xs:annotation>
            <xs:appinfo>
                <fieldInfo notes="Description of a linked object in a file system" />
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Path" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Path to the link" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Owner" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Owner of the link as a human readable string" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GroupOwner" type="xs:string" minOccurs="0" maxOccurs="1" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Group Owner of the link as a human readable string" />
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="ContentType" mixed="false">
        <xs:annotation>
            <xs:appinfo>
                <fieldInfo notes="Container for descriptions of content of a filesystem" />
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <!--  Permit any of these tags in any order in any number     -->
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Link" type="LinkType" />
                <xs:element name="Directory" type="DirectoryType" />
                <xs:element name="File" type="FileType" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContextType" mixed="false">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo notes="Container for description of context of an operation" />
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Create">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Notes" type="xs:string" >
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Free form notes about creation of the document" />
                        </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Source">
                    <xs:annotation>
                        <xs:appinfo>
                            <fieldInfo notes="Source program that created this document" />
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="args" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <fieldInfo notes="command line arguments to Source program" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="User" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <fieldInfo notes="User Source program was executed under" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Host" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <fieldInfo notes="Host name of computer source program was executed on" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="Version" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Created" type="xs:dateTime" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FileSystemType" mixed="false">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Content" type="ContentType" minOccurs="0" maxOccurs="1" />
                <xs:element name="Context" type="ContextType" minOccurs="0" maxOccurs="1" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="FileSystem" type="FileSystemType" />
</xs:schema>